<p>--------------------------------------------------------------------------------------<br>
    このメッセージは建工管理のサービス登録システムより<br>
    自動送信されています。<br>	
    --------------------------------------------------------------------------------------
</p>

<p><strong>◎ 請求内容</strong></p>

<p>
    プラン名　　：  {{ planName }}<br>
    金額　　　　：  {{ amount }}円　(税込み)<br>
    課金日　　　：  {{ chargeDate }}<br>
    取引状態　　：  {{ status }}<br>		 
    オーダーID　：  {{ orderId }}   
</p>

{{#if nextChargeDate }}
    次のお支払い予定日は {{ nextChargeDate }} です。<br>
{{/if}}
<p>************************************************************</p>

<p><strong>◎ ご利用サービス情報</strong></p>

<p>
    サービスURL　：  <a href='{{ url }}' target="_blank">{{ url }}</a>
</p>

<p>
    お客様ID　　：  {{ customerId }}<br>
    名前　　　　：  {{ fullName }} 様  
</p>