
	<p>
		--------------------------------------------------------------------------------------</br>
		このメッセージは建工管理のサービス登録システムより</br>
		自動送信されています。</br>	
		--------------------------------------------------------------------------------------
	</p>

	<p><strong>◎ お支払い方法</strong></p>
	
	<p>
		変更された日時　　：  {{ updatedTime }}<br>
		変更された情報　　：  支払用クレジットカードの情報<br>	
	</p>

	<p>************************************************************</p>

	<p><strong>◎ ご利用サービス情報</strong></p>
	
	<p>
		サービスURL　：  <a href='{{ url }}' target="_blank">{{ url }}</a>
	</p>

	<p>
		お客様ID　　：  {{ customerId }}<br>
		名前　　　　：  {{ fullName }} 様  
	</p>	
