
	<p>--------------------------------------------------------------------------------------<br>
		このメッセージは建工管理のサービス登録システムより<br>
		自動送信されています。<br>	
		--------------------------------------------------------------------------------------
	</p>

	<p><strong>◎ プラン内容</strong></p>
	
	<p>
		プラン名　　：  {{ planName}}<br>
		変更日　　　：  {{ updatedTime }}<br>	
		金額　　　　：  {{ amount }}円　(税込み)<br>
	</p>


	<p>************************************************************</p>

	<p><strong>◎ ご利用サービス情報</strong></p>
	
	<p>
		サービスURL　：  <a href='{{ url }}' target="_blank">{{ url }}</a>
	</p>

	<p>
		お客様ID　　：  {{ customerId }}<br>
		名前　　　　：  {{ fullName }} 様  
	</p>