
<p>
    --------------------------------------------------------------------------------------</br>
    このメッセージは建工管理のサービス登録システムより</br>
    自動送信されています。</br>	
    --------------------------------------------------------------------------------------
</p>

<br>
<table>
    <tr>
        <td>貴社名 &emsp;</td>
        <td>:&emsp;</td>
        <td>{{ companyName }}</td>
    </tr>
    <tr height="10px"></tr>
    <tr>
        <td>ユーザーID &emsp;</td>
        <td>:&emsp;</td>
        <td>{{ userId }}</td>
    </tr>
    <tr height="10px"></tr>
    <tr>
        <td>パスコード &emsp;</td>
        <td>:&emsp;</td>
        <td>{{ code }}</td>
    </tr>
    <tr height="10px"></tr>
    <tr>
        <td>ログインURL &emsp;</td>
        <td>:&emsp;</td>
        <td>{{ url }}</td>
    </tr>
</table>
<br>
