
<p>
    --------------------------------------------------------------------------------------</br>
    このメッセージは建工管理のサービス登録システムより</br>
    自動送信されています。</br>	
    --------------------------------------------------------------------------------------
</p>

<br>
<table>
    <tr>
        <td>貴社名 &emsp;</td>
        <td>:&emsp;</td>
        <td><b>{{ companyName }}</b></td>
    </tr>
    <tr height="10px"></tr>
    <tr>
        <td>パスコード &emsp;</td>
        <td>:&emsp;</td>
        <td><b>{{ code }}</b></td>
    </tr>
</table>
<br>