
<p>--------------------------------------------------------------------------------------<br>
    このメッセージは建工管理のサービス登録システムより<br>
    自動送信されています。<br>	
    --------------------------------------------------------------------------------------
</p>

<p>建工管理システム貴社専用の県境が作成されました。</p>

<table>
    <tr>
        <td>会社名 &emsp;</td>
        <td>:&emsp;</td>
        <td>{{ companyName }}</td>
    </tr>
    <tr height="10px"></tr>
    <tr>
        <td>ユーザーID &emsp;</td>
        <td>:&emsp;</td>
        <td>{{ email }}</td>
    </tr>
    <tr height="10px"></tr>
    <tr>
        <td>パスワード &emsp;</td>
        <td>:&emsp;</td>
        <td>******** （お客様登録したパスワード）</td>
    </tr>
    <tr height="10px"></tr>
    <tr>
        <td>ログインURL &emsp;</td>
        <td>:&emsp;</td>
        <td><a href='{{ url }}' target="_blank">{{ url }}</a></td>
    </tr>
</table>